.emojiListContainer {
  position: absolute;
  width: 20rem;
  background: white;
  border-radius: 15px;
  bottom: calc(100% + 1rem);
  box-shadow: 1px 1px 10px #80808052;
  padding: 0.5rem;
  right: calc(100% - 2rem);
  background: white;
  display: none;


  &.active {
    display: table;
    z-index: 11;
    clear: both;
  }

  .emojiHeader {
    background: white;
    .searchFormGroup {
      width: 100%;

      input {
        padding-block: 0.5rem;
      }
    }
  }

  .emojiFooter {
    display: flex;
    gap: 1.5rem;
    padding-block: 0.3rem;
    border-top: thin solid #80808038;

    button {
      font-size: 0.85rem;
      width: 1.85rem;
      height: 1.85rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #7c7c7c;
      border-radius: 50%;
      transition: all 0.3s ease;
      position: relative;

      &.active {
        color: #3971ef;
      }

      &:hover {
        background: #80808033;
      }

    }
  }

  .emojiBody {
    height: 80%;
    max-height: 13.5rem;
    min-height: 13.5rem;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scroll-behavior: smooth;
    
    &::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
    }

    .emoji-searchResults {
      margin-top: 1rem;
    }

    .emoji-category, 
    .emoji-searchResults {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 0.4rem;
      padding-bottom: 0.6rem;
      

      h5 {
        width: 100%;
        font-size: 0.9rem;
        font-weight: normal;
        padding: 0.3rem 0;
        color: var(--txt-grey);
        margin-top: 0.5rem;
        margin-bottom: -0.4rem;
      }

      li {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        min-width: 2rem;
        min-height: 2rem;
        border-radius: 10px;
        overflow: hidden;
        

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: background 0.2s ease;
          width: 120%;
          height: 120%;
          z-index: 0;
        }

        span {
          z-index: 1;
        }

        &:hover {
          &::after {
            background: #80808036;
          }
        }

        & > * {
          pointer-events: none;
          position: relative;
          top: -1px;
          font-size: 1.4rem;
        }
      }
    }
  }
}