@import 'variables.css';
@import 'post.css';
@import 'postForm.css';
@import 'modal.css';
@import 'profile.css';
@import 'editProfileForm.css';
@import 'customInputRange.css';
@import 'tabs.css';
@import 'search.css';
@import 'messages.css';
@import 'chatScreen.css';
@import 'emoji.css';
@import 'accordion.css';
@import 'notifications.css';

.wrapper {
  display: flex;
  padding: 0 12vw;
  position: relative;

  @media (min-width: 1300px) and (max-width: 1600px) {
    padding: 0;
  }

  @media (min-width: 1020px) and (max-width: 1300px) {
    padding: 0 3vw;
  }

  @media (max-width: 1200px) {
    padding: 0;
  }

  sidebar {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    border-left: var(--thin-border);
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 1;

    @media (max-width: 1600px) {
      padding-left: 3vw;
      justify-content: flex-start;
      max-width: 18rem;
    }

    @media (max-width: 1200px) {
      padding-left: 3vw;
    }

    nav {
      margin-top: 2rem;
      ul {
        list-style-type: none;

        & li:first-child {
          height: 6rem;
        }

        li {
          a {
            color: black;
            font-weight: normal;
            font-size: 1.2rem;
            padding: 0.3rem 2rem 0.3rem 0.5rem;
            display: flex;
            text-decoration: none;
            letter-spacing: 0.9px;
            position: relative;


            &.notifications {
              .notificationsCount {
                top: 4px;
              }
            }

            &.messages {
              .capsule {
                .notificationsCount {
                  top: 3px;
                }
              }
            }

            &[data-title="Search"] {
              display: none;

              @media (max-width: 1020px) {
                display: inline-flex;
              }
            }

            

            .tooltip {
              display: none;
            }

            &.active {
              font-weight: bold;
            }

            .title {
              padding-left: 0.7rem;
            }

            .capsule {
              padding-right: 1.2rem;
              position: relative;

              .notificationsCount {
                position: absolute;
                left: 1.1rem;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                background: red;
                width: 1rem;
                height: 1rem;
                font-weight: bold;
                font-size: 0.8rem;
                z-index: 1;

                &.auto {
                  width: auto;
                  border-radius: 100vw;
                  padding: 0.2rem;
                }
              }
            }

            &:hover {
              // .nav-logo {
              //   .first-syllable {
              //     .ball {
              //       background: rgba(var(--clr-primary-rgb), 0.7);
              //       border: 2px solid rgb(70, 70, 70);
              //       transition: background 0.3s ease, border 0.3s ease,
              //         transform 1s ease;
              //       transform: translate(-60%, -50%) scale(1.1);
              //     }
              //   }
              // }

              .capsule {
                background: rgba(var(--clr-primary-rgb), 0.1);
                color: var(--clr-primary);

                svg,
                img {
                  filter: invert(52%) sepia(29%) saturate(4403%)
                    hue-rotate(159deg) brightness(92%) contrast(102%);
                }
              }
            }
          }
        }
      }
    }


    @media only screen and (max-width: 1300px) {
      flex-grow: 0;
      flex-basis: 8%;
      justify-content: center;
      padding-left: 0;
      min-width: 4.2rem;

      nav ul {
  
        li {
          &.logout {
            img {
              width: 24px;
              height: 24px;
              margin: 0;
              object-fit: contain;
            }
          }
  
          a {
            margin-bottom: 0.8rem;
            padding: 0;
            display: inline-flex;

            .tooltip {
              display: block;
            }
            
            &:hover {

              .capsule {
                background: #e3e3e3;
  
                svg, img {
                  filter: none;
                }
              }
            }
          
            span:not(.letter) {
              display: none;
            }
            .capsule {
              border-radius: 50%;
              padding: 0;
              width: 3.1rem;
              height: 3.1rem;
              display: flex;
              justify-content: center;
  
              svg {
                margin-right: 0;
                width: 28px;
              }
            }
          }
        }
      }

      @media (max-width: 1200px) {
        nav ul {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      @media (max-width: 1160px) {
        a[data-title="Notifications"] {
          .tooltip {
            left: 100%;
          }
        }
      }

      @media (max-width: 900px) {
        a[data-title="Messages"] {
          .tooltip {
            left: 55%;
          }
        }
      }
    }
  }

  main {
    display: flex;
    flex: 3;

    .mainSectionContainer {
      border-right: var(--thin-border);
      border-left: var(--thin-border);
      width: 39.5rem;

      @media (max-width: 1110px) {   
        width: 39rem;
      }

      @media (max-width: 700px) {
        width: 87vw;
      }

      .postsContainer,
      .postForm {
        background: white;
      }

      .container {
        max-width: 600px;
        min-width: 443px;
        border-right: var(--thin-border);
        background: rgb(247, 249, 250);
      }

    
    }

    .third-column {
      width: 22rem;
      border-right: var(--thin-border);
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (max-width: 1110px) {   
          width: 32%;
      }

      @media (max-width: 1020px) {   
        display: none;
      }


      .box {
        width: 100%;
        height: 350px;
        border: 1px solid black;
        margin-block: 2rem;

        &:first-child {
          margin-top: 5rem;
        }
      }
    }

  }
}

.header {
  width: 100%;
  max-width: 600px;
  border-right: var(--thin-border);
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0);
  z-index: 100;

  &.sticky {
    position: sticky;
    top: 0;
    left: 0;
  }

  &.chats {
    display: flex;
    align-items: center;
    background: white;
    border-bottom: 2px solid #ededed6e;

    .goTo-convoInfo {
      margin-right: 1.5rem;
      font-size: 0.8rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      /* width: 1.35rem;
      height: 1.35rem; */
      width: 1.75rem;
      height: 1.75rem;
      font-weight: bold;
      color: white;
      position: relative;

      .tooltip {
        z-index: 100;
      }

      &:hover {
       outline: 4px solid rgb(235 243 255 / 85%);
      }

      &::before, &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        border-radius: inherit;
      }

      &::before {
        width: 1.25rem;
        height: 1.25rem;
        background: #2a89ff;
      }

      &::after {
        width: 102%;
        height: 102%;
        background: #d8e8fd;
        z-index: -2;
      }

      .tooltip {
        bottom: -2.2rem;
      }
    }
  }

  .pageTitle {
    display: flex;
    align-items: center;
    height: 53px;
    padding: 0 0.8rem;
    flex: 1;
  }

  h1.pageTitle {
    font-size: 1.3rem;
  } 

  .navigate {
    width: 35px;
    height: 35px;
    margin-right: 1rem;
    flex-shrink: 0;

    & > * {
      pointer-events: none;
    }

    i {
      font-size: 1rem;
    }

    &:hover {
      background: var(--hover-grey);
    }

    &:active {
      background: #d5d5d5;
    }

    svg {
      width: 48%;
      height: 48%;
      filter: none;
    }
  }


}


.loadingDots {
  display: flex;
  gap: 0.5em;
  font-size: 1rem;

  .circle {
    width: 0.5em;
    height: 0.5em;
    background: black;
    border-radius: 50%;
    animation: scaleDot 1.5s ease infinite;
    background: lightgrey;

    &:nth-child(2) {
      animation-delay: 1s;
    }
  }

  
}


.markAllAsRead {
  margin-left: auto;
  font-size: 1.2rem;
  position: relative;
  top: 3px;

  & > * {
    pointer-events: none;
  }

  i {
    transform: rotate(180deg)
  }

  .tooltip {
    bottom: -2.7em;
  }
}

@keyframes scaleDot {
  0% {
    transform: scale(1);
    background: lightgrey;
  }

  50% {
    transform: scale(1.2);
    background: grey;
  }

  100% {
    transform: scale(1);
    background: lightgrey;
  }
}

.noNotificationsMessage {
  margin-top: 2rem;
  align-self: center;
}